* {
  margin: 4px;
  padding: 2px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff8ebd;
}

.widget {
  max-width: 600px;
  margin: 10px auto;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
}

.agendamento-header, .lista-agenda-header, .msg-agenda-vazia, .config-agenda-header {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.campo {
  margin: 10px 0;
}

.admin-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.admin-link {
  background-color: #ffffff;
  color: #851544;
  border: 2px solid #851544;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
button {
  background-color: #ffffff;
  color: #851544;
  border-radius: 5px;
  border: 2px solid #851544;
  padding: 10px 20px;
  cursor: pointer;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  width: 100%;
  box-shadow: 1px 1px 1px 1px #000000;
}

.agenda-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

.agenda-table th {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #851544;
}

.agenda-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.widget-lista-agenda {
  max-width: 800px;
  margin: 10px auto;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
}